body {
  font-family: monospace;
  background: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 30px;
  margin-right: auto;
  margin-left: 30px;
}

header h1 a {
  text-decoration: none;
  color: rgb(31, 185, 139);
  transition: color 0.3s;
}

header h1 a:hover {
  color: #ffcc00;
}

#gameContainer {
  padding: 30px;
  background: linear-gradient(to bottom, #18283b, #3e6fa7, #222e3c7e);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.854);
  max-width: 400px;
  margin: 40px auto;
}
.game-play-area h2 {
  font-size: 25px;
  color: white;
}
.difficultySelection {
  display: inline-flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.radio-input {
  display: none;
}
.radio-label {
  padding: 8px 14px;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  background: #1678b9;
  cursor: pointer;
  transition: background-color 0.7s;
}
.radio-label:not(:last-of-type) {
  border-right: 1px solid #000000;
}
.radio-input:checked + .radio-label {
  background: #1aa1da;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3x3 grid */
  gap: 10px; /* Space between cells */
  margin: 20px auto; /* Centering the grid */
  max-width: 300px; /* Restricting the maximum width of the grid */
}

.cell {
  background: linear-gradient(to bottom, #142f4e, #6790bb, #202a36ac);
  border: 2px solid #333;
  border-radius: 15%;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  aspect-ratio: 1 / 1; /* Ensures that cells are square */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Set a fixed height for better visual */
  color: #444; /* Default text color */
}

.cell.red {
  color: rgb(176, 21, 21);
  transform: scale(0.9);
  transition: transform 0.9s;
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.579);
  transition: box-shadow 0.5s;
}
.cell.blue {
  color: blue;
  transform: scale(0.9);
  transition: transform 1.5s;
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.579);
  transition: box-shadow 0.7s;
}

.cell:hover {
  background-color: #1d2936; /* Hover effect for cells */
}

#resultDisplay {
  font-size: 25px;
  margin: 20px;
  color: whitesmoke;
}

#restartButton {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background-color: #1678b9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#restartButton:hover {
  background-color: #1aa0dac3;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

footer {
  position: absolute;
  bottom: 0px;
  color: rgb(31, 185, 139);
  padding: 20px;
  width: 100%;
}
