/*
Author: Daryl Posnett
*/

body {
  font-family: monospace;
  /* Cited: https://www.freepik.com/free-vector/realistic-neon-lights-background_15549592.htm#fromView=search&page=1&position=0&uuid=350dc686-d6f8-4cf7-b945-ef7320d365c9 */
  background-image: url(images/TicBG.jpg);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-position: center;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

header h1 {
  font-size: 40px;
  margin-right: auto;
  margin-left: 50px;
}

header h1 a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
a:hover {
  color: purple;
}

#gameContainer {
  padding: 30px;
  background: radial-gradient(purple, #595efcaa);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.854);
  max-width: 400px;
  margin: 40px auto;
  padding-top: 30px;
}
.game-play-area h2 {
  font-size: 25px;
  color: white;
}
.difficultySelection {
  display: inline-flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.radio-input {
  display: none;
}
.radio-label {
  padding: 8px 14px;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  background: #1678b9;
  cursor: pointer;
  transition: background-color 0.7s;
}
.radio-label:not(:last-of-type) {
  border-right: 1px solid #000000;
}
.radio-input:checked + .radio-label {
  background: #1aa1da;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3x3 grid */
  gap: 10px; /* Space between cells */
  margin: 20px auto; /* Centering the grid */
  max-width: 300px; /* Restricting the maximum width of the grid */
}

.cell {
  background: radial-gradient(#6790bb, #202a36ac);
  border: 2px solid #333;
  border-radius: 15%;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  aspect-ratio: 1 / 1; /* Ensures that cells are square */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Set a fixed height for better visual */
  color: #444; /* Default text color */
}

.cell.red {
  color: rgb(176, 21, 21);
  transform: scale(0.9);
  transition: transform 0.9s;
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.579);
  transition: box-shadow 0.5s;
}
.cell.blue {
  color: blue;
  transform: scale(0.9);
  transition: transform 1.5s;
  box-shadow: 0 0 13px rgba(255, 255, 255, 0.579);
  transition: box-shadow 0.7s;
}

.cell:hover {
  background-color: #1d2936; /* Hover effect for cells */
}

#resultDisplay {
  font-size: 25px;
  margin: 20px;
  color: whitesmoke;
}

#restartButton {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  background-color: #1678b9;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#restartButton:hover {
  background-color: #1aa0dac3;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

footer {
  color: white;
  padding: 20px;
  width: 100%;
  font-size: 15px;
}

@media (max-width: 600px) {
  #gameContainer {
    padding: 2px;
    text-align: center;
  }
  .cell {
    height: 50px;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3x3 grid */
    gap: 10px; /* Space between cells */
    margin: 20px auto; /* Centering the grid */
    max-width: 200px; /* Restricting the maximum width of the grid */
  }

  #restartButton {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 10px;
  }

  #resultDisplay {
    font-size: 18px;
  }
}
