html {
  height: 100%;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.vast-shadow-regular {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

.plaster-regular {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
  padding-left: 25px;
  padding-top: 25px;
  text-align: center;
  font-family: "Bungee Shade", sans-serif;
}

h1{
  font-size: 100px;
  /* color: rgb(219, 215, 215); */
  color: white;
  text-align: center;
}
body {
 /* background: linear-gradient(to bottom, black, purple);  */
 margin: 0;
 background-image: url(img/imresizer-1714417296608.jpg);
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background: linear-gradient(to bottom, black, purple);  */
  padding-top: 5%;
  padding-bottom: 4%;
}
.card {
  width: 250px;
  /* height: 400px; */
  overflow: hidden;
  margin: 20px;
}

.card:hover{
  box-shadow: 4px 4px 4px #160236;
}

.card img {
  height: 200px;
  width: 250px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
}

.card-content {
  padding: 15px;
  background-color: rgba(12, 1, 15, 0.9);
  height: 160px;
  text-align: center;
  opacity: 0.9;
}
.card-content h3 {
  font-size: 20px;
  margin-bottom: 9px;
  margin-top: 0;
  text-align: center;
  color: white;
  font-family: "Vast Shadow", serif;
}
.card-content p {
  font-family: "Vast Shadow", serif;
  color: white;
  font-size: 15px;
  line-height: 1.3;
}

footer {
  color: #FFFFFF;
  text-align: center;
}

span.material-symbols-outlined {
  color: white;
  font-size: 50px;
  display: block;
  text-align: center;
  background-color: rgba(12, 1, 15, 0.9);
  opacity: 0.9;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  padding: 5px;
}

a {
  text-decoration: none;
  
}

a:visited {
  color: inherit; /* or any other color value you want */
}

@media(max-width: 600px){
 
  /* This allows to me to change the writing next to the pictures to move under them when the screen is 600px or less */
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    body {
      background: radial-gradient(#130237, #AE0EA0);
    }
    .card {
        width: 200px;
        height: 250px;
    }
    .card img {
      height: 100px;
      width: 200px;
    }
    .card-content {
      height: 100px;
      padding: 10px;
    }
    h1{
      font-size: 40px;
      color: white;
    }
    .card-content h3 {
      font-size: 15px;
    }
    .card-content p {
      font-size: 10px;
    }

    span.material-symbols-outlined {
      color: white;
      font-size: 20px;
    }

    footer {
      padding-bottom: 10px;
    }
}


